.new-expense__controls {
    display: flex;
    gap: 1rem;
    text-align: left;
  }

  .new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    color: rgb(112, 112, 112);
    width: 10rem;
    max-width: 100%;
    box-shadow: 0 0px 16px rgb(184, 182, 182);

  }
  
  .new-expense__actions {
    text-align: right;
  }