.new-expense {
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 8px;
    text-align: center;


  }
  form{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
  }
  
  .new-expense button {
    cursor: pointer;
    padding: 10px;
    border: none;
    color: rgb(112, 112, 112);
    border-radius: 15px;
    
  }
  
  .new-expense button:hover,
  .new-expense button:active {
    background-color:rgb(215, 243, 222);
    border-color: #510674;
  }
  
  .new-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expense button.alternative:hover,
  .new-expense button.alternative:active {
    background-color: #ddb3f8;}