.expense-date {
    display: flex;
    flex-direction: column;
    border: 1px solid #ececec;
    background-color:  rgb(112, 112, 112);
    color: white;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    width: 40px;
  }
  
  .expense-date__month {
    font-size: 0.75rem;
  }
  
  .expense-date__year {
    font-size: 0.75rem;
  }
  
  .expense-date__day {
    font-size: 1rem;
    font-weight: bold;
  }